<section class="{{#if bg}}bg-{{default bg "gray"}}-50{{/if}} body-font">
  <div class="container px-5 py-24 md:max-w-7xl m-auto">
    {{#or (isTruthy title) (isTruthy description)}}
      <div class="flex flex-col text-center w-full mb-20">
        {{{embed "blocks/heading/section-heading" title=title}}}
        {{#isTruthy description}}
          <p class="lg:w-2/3 text-xl mx-auto mt-2 leading-relaxed">
            {{description}}
          </p>
        {{/isTruthy}}
      </div>
    {{/or}}

    <div class="flex flex-wrap -m-4">
      {{#each teamMembers}}
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                 src="{{avatar}}"
            />
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg">
                {{name}}
              </h2>
              {{#isTruthy position}}
                <h3 class="mb-3">
                  {{position}}
                </h3>
              {{/isTruthy}}

              {{#isTruthy description}}
              <p class="mb-4">
                {{description}}
              </p>
              {{/isTruthy}}

              <span class="inline-flex">

              {{#each socialLinks}}
                <a href="{{url}}">
                  {{{embed (append (prepend icon "icons/") ".icon")}}}
                </a>
              {{/each}}
            </span>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
