<section class="body-font">
  <div class="container px-5 md:px-0 py-24 md:max-w-7xl m-auto">
    {{#or (isTruthy title) (isTruthy description)}}
      <div class="flex flex-col text-center w-full mb-20">
        {{{embed "blocks/heading/section-heading" title=title}}}
        {{#isTruthy description}}
          <p class="lg:w-2/3 text-xl mx-auto mt-2 leading-relaxed">
            {{description}}
          </p>
        {{/isTruthy}}
      </div>
    {{/or}}

    <div class="flex flex-wrap -m-4">
      {{#each listings}}
        <div class="lg:w-1/4 md:w-1/2 p-6 w-full">
          {{#isTruthy imageUrl}}
            <a class="block relative h-48 rounded overflow-hidden">
              <img src="{{imageUrl}}" alt="ecommerce" class="object-cover object-center w-full h-full block">
            </a>
          {{/isTruthy}}
          <div class="mt-4">
            {{#isTruthy category}}
              <h3 class="text-{{default color "stone"}}-500 text-xs tracking-widest title-font mb-1">
                {{category}}
              </h3>
            {{/isTruthy}}
            {{#isTruthy title}}
              <h2 class="text-{{default color "stone"}}-900 title-font font-medium">
                {{title}}
              </h2>
            {{/isTruthy}}
            {{#isTruthy price}}
              <p class="mt-1">{{price}}</p>
            {{/isTruthy}}

            {{#block "details"}}{{/block}}
          </div>
        </div>
      {{/each}}
    </div>

    {{#if (isTruthy viewAllUrl)}}
    <div class="flex justify-center">
        <a href="{{viewAllUrl}}" class="px-10 py-4 text-white bg-{{default color "stone"}}-600 hover:bg-{{default hoverColor "amber"}}-500 rounded inline-block mt-8 font-semibold text-xl">
          {{viewAllLabel}}
        </a>
    </div>
    {{/if}}
  </div>
</section>