{{#extend "site"
          bodyClass="antialiased text-slate-700 bg-white font-sans text-rose-700"
          googleFontsUrl="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          backToTopColor="orange-600"
}}
  {{#content "main"}}
    <!-- start header -->
    {{{embed "blocks/headers/header-01"
             title="DeliveryPro"
             address="1985 Kerry Way, Whittier, CA, USA"
             phone="+1 562-789-1935"
             socialLinks=socialLinks
             menu=menu
             appointment=appointment
             bg="transparent"
             stickyBg="orange-700"
             color="white"
             hoverColor="black"
             stickyText="white"
    }}}
    <!-- end header -->

    <main class="w-full">
      {{#embed "blocks/hero/hero-01"
               bgImage="/public/templates/delivery/images/cover-bg.jpg"
               title="We Make Delicious Stuff Every Day"
               overlay="amber"
               buttonColor="orange"
               actionHref="#"
               actionLabel="Order Now"
               zoom=true
      }}
      {{/embed}}

      {{{embed "blocks/listings/listing-01"
               title="OUR FOOD"
               description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
               color="orange"
               bg="orange"
               listings=categories
      }}}

      {{{embed "blocks/section/text-image-row-02"
               title="OUR STORY"
               description="Aenean ut tellus tellus. Suspendisse potenti. Nullam tincidunt lacus tellus,
 sed aliquam est vehicula a. Pellentesque consectetur condimentum nulla, eleifend condimentum purus vehicula
 in. Donec convallis sollicitudin facilisis. Integer nisl ligula, accumsan non tincidunt ac, imperdiet in
 enim. Donec efficitur ullamcorper metus, eu venenatis nunc. Nam eget neque tempus, mollis sem a, faucibus
 mi."
               image="/public/templates/delivery/images/food-feature-01.jpg"
               bg="gray"
               direction="left"
      }}}

      {{{embed "blocks/feature/feature-02"
               color="orange"
               bg="white"
               features=features
      }}}

      {{{embed "blocks/section/text-image-row-02"
               title="IS MUCH MORE THAN JUST COOKING"
               description="Aenean ut tellus tellus. Suspendisse potenti. Nullam tincidunt lacus tellus,
 sed aliquam est vehicula a. Pellentesque consectetur condimentum nulla, eleifend condimentum purus vehicula
 in. Donec convallis sollicitudin facilisis. Integer nisl ligula, accumsan non tincidunt ac, imperdiet in
 enim. Donec efficitur ullamcorper metus, eu venenatis nunc. Nam eget neque tempus, mollis sem a, faucibus
 mi."
               image="/public/templates/delivery/images/food-feature-01.jpg"
               bg="gray"
      }}}

      {{{embed "blocks/testimonial/testimonial-01"
               title="WHAT OUR CUSTOMERS ARE SAYING?"
               testimonials=testimonials
      }}}

      {{#embed "blocks/cta/cta-01"
               color="orange"
      }}
        {{#content "title"}}
          {{#embed "blocks/heading/section-heading" title="Order Now on"}}
            {{#content "right"}}
              {{{embed "icons/skip-the-dishes" size=52}}}
            {{/content}}
          {{/embed}}
        {{/content}}
      {{/embed}}
    </main>

    {{{embed "blocks/footer/footer-01"
             title="LawPro"
             description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
             address="1985 Kerry Way, Whittier, CA, USA"
             workingHours="Mon - Fri: 9:00 - 19:00<br />Closed on Weekends"
             phoneNumber="+1 562-789-1935"
             email="lawpro@example.com"
             menuTitle="Services"
             color="gray"
             menu=true
             menuItems=menu
             social=true
             socialLinks=footer.socialLinks
             contact=true
    }}}
  {{/content}}

  {{#content "scripts"}}
    {{{embed "tailwind-config"
             fontName="Open Sans"
             heading2FontWeight=600}}}

    <script>
      $.stickyHeader()
    </script>
  {{/content}}
{{/extend}}
