{{#embed "_card" id=(append "hb-env-" name) title="" class="grow" padding="sm" theme=(iIf (not env) "warn" "default")}}
  {{#content "content"}}
    {{{embed "_heading" text=../title size="h5" margin=0}}}
  {{/content}}
  {{#content "body"}}
    {{#if env}}
      <div>
        <div class="opacity-75 text-sm"><span>Region: </span><span>{{env.region.name}}</span></div>
        <div class="opacity-75 text-sm mb-4"><span>Last updated at: </span><span>{{env.updated_at}}</span></div>
        <div class="flex items-start justify-center gap-2 pt-2 mt-4 border-t border-gray-800">
          {{#if (eq (length env.hooks) 0)}}
            {{{embed "_button" id="hb-syncronize" text="Syncronize" style="link" size="link" class="" attributes=(attr data-dispatch-env=name data-dispatch="hb-sync-environment")}}}
          {{/if}}

          {{#if (gt (length env.hooks) 0)}}
            <p class="m-0 text-lime-500 m-0">In sync</p>
          {{/if}}

          <span class="flex grow"></span>

          {{#embed "_link" url=env.web_url text="Open env" target="_blank" class=""}}
            {{#content "text"}}
              {{{embed "_icon" name="open_in_new" size=5 class=""}}}
            {{/content}}
          {{/embed}}
        </div>
      </div>
    {{else}}
      {{{embed "_text" text="Environment has not yet been created." class="mb-4"}}}
      {{{embed "_button" text="Create environment" color="orange" loader=true attributes=(attr data-dispatch-env=name data-dispatch="hb-create-environment")}}}
    {{/if}}
  {{/content}}
{{/embed}}