{{#extend "site"
   bodyClass="antialiased text-slate-700 bg-white font-sans text-rose-700"
   googleFontsUrl="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
   backToTopColor="orange-600"
}}
    {{#content "main"}}
    <!-- start header -->
    {{{embed "blocks/headers/header-02"
             title="CorpPro"
             menu=menu
             actionUrl="#"
             actionLabel="Buy Now"
             display="center"
             bg="transparent"
             stickyBg="purple-700"
             color="white"
             hoverColor="orange-500"
             stickyText="white"
    }}}
    <!-- end header -->


    <main class="w-full">
      <!-- start hero -->
      {{#embed "blocks/hero/hero-01"
               bgImage="/public/templates/corporate/images/cover-bg-3.jpg"
               title="Your Success is Our Success"
               overlay="purple"
               buttonColor="orange"
               actionHref="#"
               actionLabel="Order Now"
               zoom=true
      }}
        {{#content "body"}}
          {{{embed "blocks/feature/feature-04" color="indigo" features=features}}}
        {{/content}}
      {{/embed}}
      <!-- end hero -->

      {{{embed "blocks/feature/feature-02"
               title="What We Do?"
               description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
               color="orange"
               bg="white"
               features=features
      }}}

      {{{embed "blocks/section/text-image-row-02"
               title="Working as a team to get you the best results"
               description="Aenean ut tellus tellus. Suspendisse potenti. Nullam tincidunt lacus tellus,
 sed aliquam est vehicula a. Pellentesque consectetur condimentum nulla, eleifend condimentum purus vehicula
 in. Donec convallis sollicitudin facilisis. Integer nisl ligula, accumsan non tincidunt ac, imperdiet in
 enim. Donec efficitur ullamcorper metus, eu venenatis nunc. Nam eget neque tempus, mollis sem a, faucibus
 mi."
               image="/public/templates/corporate/images/feature-01.jpg"
               bg="slate"
      }}}

      {{{embed "blocks/testimonial/testimonial-01"
               title="What our clients say?"
               testimonials=testimonials
      }}}
    </main>

    {{{embed "blocks/footer/footer-01"
             title="CorpPro"
             description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
             address="1985 Kerry Way, Whittier, CA, USA"
             workingHours="Mon - Fri: 9:00 - 19:00<br />Closed on Weekends"
             phoneNumber="+1 562-789-1935"
             email="lawpro@example.com"
             menuTitle="Services"
             color="purple"
             menu=true
             menuItems=footer.menu
             social=true
             socialLinks=footer.socialLinks
             contact=true
    }}}

  {{/content}}

  {{#content "scripts"}}

    {{{embed "tailwind-config"
             headingFontName="Black Han Sans"
             heading1FontWeight=400
             heading2FontWeight=400
             heading3FontWeight=400
             primaryColorName="purple"
             secondaryColorName="amber"
    }}}
  {{/content}}
{{/extend}}
