<!-- start featre-02 -->
<section class="body-font bg-{{default bg "white"}}{{#neither (eq bg "white") (eq bg "black")}}-50{{/neither}}">
  <div class="container md:max-w-7xl m-auto px-5 py-24">
    {{#or (isTruthy title) (isTruthy description)}}
      <div class="flex flex-col text-center w-full mb-20">
        {{{embed "blocks/heading/section-heading" title=title}}}

        {{#isTruthy description}}
          <p class="lg:w-2/3 text-xl mx-auto mt-2 leading-relaxed">
            {{description}}
          </p>
        {{/isTruthy}}
      </div>
    {{/or}}
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-{{default cols 3}} gap-y-16">
      {{#each features}}
        <div class="flex flex-col gap-8 items-center">
          {{#isTruthy icon}}
            <div class="w-36 h-36 inline-flex items-center justify-center text-{{default ../color "stone"}}-500 mb-0 flex-shrink-0">
              {{{embed (prepend icon "icons/") size=28}}}
            </div>
          {{/isTruthy}}
          <div class="flex-grow {{#isTruthy icon}}pl-6{{/isTruthy}}">
            <h2 class="text-lg title-font font-medium mb-2">
              {{title}}
            </h2>
            <p class="leading-relaxed">
              {{description}}
            </p>
            {{#if (isTruthy actionHref)}}
              <a href="{{actionHref}}" class="mt-3 text-{{default ../color "stone"}}-500 inline-flex items-center">
                {{actionLabel}}
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- end feature-02 -->