
<!-- hb-captcha="contact-captcha" -->
<form
  hb-ajax="true"
  hb-contact-form="true"
  hb-needs-validation="true"
  hb-content-type="application/json"
  hb-success-message="We have received your message and will get back to you soon, thank you!"
  action="/_mail/send"
  method="POST"
  id="{{id}}"
  novalidate
>
  <input type="hidden" name="to" value="jmilanes.dev@gmail.com" />
  <input type="hidden" name="template" value="contact" />
  <input
    type="checkbox"
    name="botcheck"
    id=""
    style="display: none;"
  />
  {{#each messages}}
    {{#embed "_alert-message" message=this level="error"}}{{/embed}}
  {{/each}}

  {{{embed
    "_input"
    type="text"
    label=(i "contact.form.name.label")
    name="name"
    required=true
  }}}

  {{{embed
    "_input"
    type="email"
    label=(i "contact.form.email.label")
    name="email"
    required=true
  }}}

  {{{embed
    "_input"
    type="textarea"
    label=(i "contact.form.message.label")
    name="message"
    required=true
  }}}

  {{{embed
    "_re-captcha"
    id="contact-captcha"
    version=auth.reCaptcha
  }}}

  <div class="mt-3">
    {{#embed
      "_button"
      id=""
      type="submit"
      size="lg"
      style="solid"
      theme="dark"
      color=""
      width="full"
      disabled=true
      text="Send Message"
    }}{{/embed}}
  </div>
</form>