<div id="{{id}}" class="flex flex-col h-auto w-full
  {{#if border}}border border-{{border}}{{/if}}
  {{#if shadow}}shadow-{{shadow}}{{/if}}
  {{#if rounded}}rounded-{{rounded}}{{/if}}">
  <div class="{{#if bg}}bg-{{bg}}{{/if}} flex-grow">
    <div hb-alert-for="{{formId}}"></div>
    {{{embed "blocks/form/contact-form.naked" id=formId color=color}}}
  </div>
</div>