<header class="bg-rose-600">
  <nav class="px-2 sm:px-4 py-2.5">
    <div class="container flex flex-wrap mx-auto">
      <a href="https://flowbite.com/" class="flex items-center mr-8">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-6 mr-3 sm:h-9"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white"
        >Hotbars</span>
      </a>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="flex flex-col p-4 mt-4 md:p-0 md:mt-0 md:flex-row md:space-x-2 md:text-sm md:font-medium"
        >
          {{#each (i "_hbs.menu")}}
            <li>
              <a
                href="{{path}}"
                data-path="{{replace path '/' ''}}"
                class="block py-2 pl-3 pr-4 md:py-3 md:px-5 text-white/[.85] hover:bg-rose-700 rounded-lg"
                aria-current="page"
              >
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>

      <button
        id="theme-toggle"
        type="button"
        class="text-gray-100 hover:bg-rose-800 focus:outline-none focus:ring-4 focus:ring-rose-800 rounded-lg text-md p-2.5"
      >
        <svg
          id="theme-toggle-dark-icon"
          class="hidden w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
        ></path></svg>
        <svg
          id="theme-toggle-light-icon"
          class="hidden w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path></svg>
      </button>

      <div class="grow"></div>

      {{#if authenticated}}
        <div class="inline-flex py-2 pl-3 pr-4 md:py-3 md:px-5">
          Hello {{user.username}}!
          {{{embed
            "_link"
            url=auth.signOut
            icon=""
          }}}
        </div>
      {{/if}}

      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path></svg>
      </button>


    </div>
  </nav>
</header>