<header class="bg-rose-600">
  <nav class="px-2 sm:px-4 py-2.5">
    <div class="container flex flex-wrap mx-auto">
      <button
        id="theme-toggle"
        type="button"
        class="ml-2 text-gray-100 hover:bg-rose-800 focus:outline-none focus:ring-4 focus:ring-rose-800 rounded-lg text-md p-2.5"
      >
        {{{embed "icons/dark.icon" id="theme-toggle-dark-icon" size=5 class=(iIf (eq settings.theme "dark") "hidden" "")}}}
        {{{embed "icons/light.icon" id="theme-toggle-light-icon" size=5 class=(iIf (eq settings.theme "light") "hidden" "")}}}
      </button>

      <div class="grow"></div>

      {{#if authenticated}}
        {{#embed "_toggle-slide-button"
            id="user-menu"
            direction="top"
            start="2.8rem"
            end="1rem"
            duration=300
            avatar=" "
            align="right"
            username=user.username
        }}
          {{#content "header"}}
            Hi, {{user.username}}!
          {{/content}}
          {{#content "actions"}}
            {{{embed
              "_link"
              url=auth.signOut
              icon="logout"
              color="white"
              text="Sign Out"
              title="Logout"
              class="block w-full"
            }}}
          {{/content}}
        {{/embed}}
      {{/if}}

      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        {{{embed "icons/sanduiche.icon" size=6}}}
      </button>
    </div>
  </nav>
</header>