{{> "_heading" size="h3" text="Json Api" }}
<div class="overflow-y-scroll grow max-h-96">
  <ul>
    {{#filter routes "json-db" property="source"}}
      {{#each (get "routes" this)}}
        {{#if (not (eq "middleware" type))}}
          {{#each (get "routes" this)}}
            {{#if (not (eq "middleware" type))}}
              {{#each this.methods}}
                <li data-method="{{this}}"
                    data-path="{{../prefix}}{{../path}}"
                    class="hbs-resource py-2 px-2 border-b border-slate-100 hover:bg-slate-100">
                  {{> "_http-methods" this}}
                  <span class="font-bold text-slate-400">
                      {{../prefix}}{{#if (not (eq "/" ../path))}}{{../path}}{{/if}}
                  </span>
                  {{> "_request-params" params=../params path=(append ../prefix ../path)}}
                </li>
              {{/each}}
            {{/if}}
          {{/each}}
        {{/if}}
      {{/each}}
    {{/filter}}
  </ul>
</div>