<div class="px-6">
  {{> "_heading" size="h4" text="Json Api" }}
</div>
<div class="px-3">
  <ul>
    {{#filter routes "jsonDb" property="source"}}
      {{#each (get "routes" this)}}
        {{#if (not (eq "middleware" type))}}
          {{#each (get "routes" this)}}
            {{#if (not (eq "middleware" type))}}
              {{#each this.methods}}
                <li data-method="{{this}}"
                    data-path="{{../prefix}}{{../path}}"
                    class="hbs-resource text-slate-800 dark:text-slate-300 py-2 px-2 border-b border-slate-100 dark:border-slate-700 hover:bg-slate-100 dark:hover:bg-slate-900">
                  {{> "_http-methods" this}}
                  <span class="font-bold">
                      {{../prefix}}{{#if (not (eq "/" ../path))}}{{../path}}{{/if}}
                  </span>
                  {{> "_request-params" params=../params path=(append ../prefix ../path)}}
                </li>
              {{/each}}
            {{/if}}
          {{/each}}
        {{/if}}
      {{/each}}
    {{/filter}}
  </ul>
</div>