{{#block "cta-01"}}
  <!-- start cta -->
  <section class="relative {{#isTruthy color}}text-{{color}}-50 bg-{{color}}-700{{/isTruthy}} py-16 lg:py-24">
    <div class="flex flex-col text-center px-5 md:px-0 md:max-w-7xl m-auto">
      {{{embed "blocks/heading/section-heading" title=title}}}
      {{{block "title"}}}

      {{#isTruthy description}}
        <p class="text-2xl mt-4">
          {{description}}
        </p>
      {{/isTruthy}}

      {{#block "body"}}{{/block}}

      <div class="flex justify-center">
        {{#isTruthy actionUrl}}
            <a href="{{actionUrl}}" class="px-10 py-6 bg-{{default actionColor "stone"}}-600 hover:bg-{{default actionColor "stone"}}-500 text-xl text-white rounded inline-block mt-8 font-semibold">
              {{actionLabel}}
            </a>
        {{/isTruthy}}

        {{#each actions}}
          <a href="{{url}}" class="{{#gt @index 0}}ml-4 {{/gt}}px-10 py-6 {{#eq type "button"}} bg-{{default actionColor "stone"}}-600 hover:bg-{{default actionColor "stone"}}-500{{else}}hover:text-{{default actionColor "stone"}}-800{{/eq}} text-xl text-white rounded inline-block mt-8 font-semibold">
            {{label}}
          </a>
        {{/each}}

        {{#block "actions"}}{{/block}}
      </div>
    </div>
  </section>
  <!-- end cta -->
{{/block}}