{{#extend "_auth" title="Recover Password"}}
  {{#content "main"}}
    <section>
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <a
          href="#"
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
          <img
            class="w-8 h-8 mr-2"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
            alt="logo"
          />
          Flowbite
        </a>
        {{#eq query.email-sent "true"}}
          {{#embed "_card" title=(i "auth.resetPasswordEmailSent")}}
            {{#content "body"}}
              <div class="mb-8">
                {{#each (i "auth.checkYourEmailToContinue")}}
                  <p
                    class="mb-2 text-md text-center text-gray-500 dark:text-gray-400"
                  >{{this}}</p>
                {{/each}}
              </div>
              <p
                class="text-center text-sm font-light text-gray-500 dark:text-gray-400"
              >
                {{{embed
                  "_link"
                  url=auth.signIn
                  prefix="Back to"
                  text=(i "auth.signIn")
                }}}
              </p>
            {{/content}}
          {{/embed}}
        {{else}}
          {{#embed "_card" title=(i "auth.resetPassword")}}
            {{#content "body"}}
              {{#each messages}}
                {{#embed "_alert-message" message=this level="error"}}{{/embed}}
              {{/each}}
              <form
                class="space-y-4 md:space-y-6"
                method="post"
                action="{{append auth.passwordRecovery '/local'}}"
                data-captcha="signup"
              >
                {{{embed
                  "_input"
                  type="email"
                  label=(i "auth.yourEmail")
                  name="email"
                  required=true
                }}}
                {{#embed
                  "_re-captcha"
                  id="password-recovery"
                  version=reCaptcha
                  text=(i "auth.sendPasswordResetLInk")
                }}{{/embed}}
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  {{{embed
                    "_link"
                    url=auth.signIn
                    prefix="Back to"
                    text=(i "auth.signIn")
                  }}}
                </p>
              </form>
            {{/content}}
          {{/embed}}
        {{/eq}}
      </div>
    </section>
  {{/content}}
{{/extend}}