{{#extend "_auth" title="Recover Password"}}
  {{#content "main"}}
    <section>
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <a
          href="#"
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
          <img
            class="w-8 h-8 mr-2"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
            alt="logo"
          />
          Flowbite
        </a>
        {{#eq query.email-sent "true"}}
          {{#embed "_card" title=(i "auth.resetPasswordEmailSent") titleSize="h3" size="sm" padding="md"}}
            {{#content "body"}}
              <div class="mb-8">
                {{#each (i "auth.checkYourEmailToContinue")}}
                  <p
                    class="mb-2 text-md text-gray-500 dark:text-gray-400"
                  >{{this}}</p>
                {{/each}}
              </div>
            {{/content}}
          {{/embed}}
          <p
            class="mt-8 text-center text-sm font-light text-gray-500 dark:text-gray-400"
          >
            {{{embed
              "_link"
              url=auth.signIn
              prefix="Back to"
              text=(i "auth.signIn")
            }}}
          </p>
        {{else}}
          {{#embed "_card" title=(i "auth.resetPassword") titleSize="h3" size="sm" padding="md"}}
            {{#content "body"}}
              {{#each messages}}
                {{#embed "_alert-message" message=this level="error"}}{{/embed}}
              {{/each}}
              <form
                class="space-y-4 md:space-y-6 w-full"
                method="post"
                action="{{append auth.passwordRecovery '/local'}}"
                data-captcha="password-recovery"
              >
                {{{embed
                  "_input"
                  type="email"
                  label=(i "auth.yourEmail")
                  name="email"
                  required=true
                }}}
                {{{embed
                  "_re-captcha"
                  id="password-recovery"
                  version=auth.reCaptcha
                  text=(i "auth.sendPasswordResetLInk")
                }}}
              </form>
            {{/content}}
          {{/embed}}

          <p class="text-sm mt-8 font-light text-gray-500 dark:text-gray-400">
            {{{embed
              "_link"
              url=auth.signIn
              prefix="Back to"
              text=(i "auth.signIn")
            }}}
          </p>
        {{/eq}}
      </div>
    </section>
  {{/content}}
{{/extend}}