{{#extend "_auth" title="Recover Password" scroll=true}}
  {{#content "main"}}
    <section>
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        {{{embed "_auth-header"}}}

        {{#eq query.email-sent "true"}}
          {{#embed "_card" title=(i "auth.resetPasswordEmailSent") titleSize="h3" size="md" padding="md"}}
            {{#content "body"}}
              <div class="mb-8">
                {{#each (i "auth.checkYourEmailToContinue")}}
                  <p
                    class="mb-2 text-md text-gray-500 dark:text-gray-400"
                  >{{this}}</p>
                {{/each}}
              </div>
            {{/content}}
          {{/embed}}
          <p
            class="mt-8 text-center text-sm font-light text-gray-500 dark:text-gray-400"
          >
            {{{embed
              "_link"
              url=auth.signIn
              prefix="Back to"
              text=(i "auth.signIn")
            }}}
          </p>
        {{else}}
          {{#embed "_card" title=(i "auth.resetPassword") titleSize="h3" size="sm" padding="md"}}
            {{#content "body"}}
              {{#embed "_form"
                 id="_password-recovery-form"
                 action=(append auth.passwordRecovery '/local')
                 method="POST"
                 submitText=(i "auth.signIn")
                 messages=messages
                 validation=true
                 captcha="password-recovery"
              }}
                {{#content "body"}}
                  {{{embed
                    "_input"
                    id=null
                    type="email"
                    label=(i "auth.yourEmail")
                    name="email"
                    required=true
                  }}}

                  {{{embed
                    "_re-captcha"
                    id="password-recovery"
                    version=auth.reCaptcha
                    text=(i "auth.sendPasswordResetLInk")
                  }}}
                {{/content}}
              {{/embed}}
            {{/content}}
          {{/embed}}

          <p class="text-sm mt-8 font-light text-gray-500 dark:text-gray-400">
            {{{embed
              "_link"
              url=auth.signIn
              prefix="Back to"
              text=(i "auth.signIn")
            }}}
          </p>
        {{/eq}}
      </div>
    </section>
  {{/content}}

  {{#content "scripts"}}
    <script>
      (() => {
        const constrains = {
          email: {
            presence: { allowEmpty: false },
            type: "string",
            email: true
          },
        }

        $("#_password-recovery-form").form(
          constrains,
          (formData) => (formData)
        )
      })()
    </script>
  {{/content}}
{{/extend}}