{{#extend "_auth" title="Reset Password" scroll=true}}
  {{#content "main"}}
    <section class="bg-gray-50 dark:bg-gray-900">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        {{{embed "_auth-header"}}}

        {{#embed "_card" title="" titleSize="h3" size="sm" padding="md" bodyLayout="column"}}
          {{#content "body"}}
            {{#embed "_form"
               id="_password-reset-form"
               action=auth.passwordReset
               method="POST"
               submitText=(i "auth.signIn")
               messages=messages
               validation=true
            }}
              {{#content "body"}}
                <input type="hidden" name="code" value="{{request.code}}" />

                {{{embed
                  "_input"
                  id=null
                  type="password"
                  name="password"
                  label=(i "auth.newPassword")
                  required=true
                }}}

                {{{embed
                  "_input"
                  id=null
                  type="password"
                  name="confirmPassword"
                  label=(i "auth.confirmPassword")
                  required=true
                }}}

                {{{embed
                  "_re-captcha"
                  id="signup"
                  version=auth.reCaptcha
                  text=(i "auth.createAccount")
                }}}
              {{/content}}
            {{/embed}}
          {{/content}}
        {{/embed}}

        <p class="text-sm mt-8 font-light text-gray-500 dark:text-gray-400">
          Back to
          {{{embed "_link" url=auth.signIn text=(i "auth.signIn")}}}
        </p>
      </div>
    </section>
  {{/content}}

  {{#content "scripts"}}
    <script>
      (() => {
        const constrains = {
          password: {
            presence: { allowEmpty: false },
            type: "string"
          },
          confirmPassword: {
            equality: "password"
          }
        }

        $("#_password-reset-form").form(
          constrains,
          (formData) => (formData)
        )
      })()
    </script>
  {{/content}}
{{/extend}}