{{#extend "_blank"}}
  {{#content "main"}}
    <div class="flex items-center justify-center w-full h-full">
      <div class="max-w-3xl">
        {{#not error}}
          <h1>Unknown Error {{errorMessage}}</h1>
        {{else}}
          <h1 class="text-2xl font-bold">
            <span class="inline-block px-4 py-2 bg-amber-600 text-white">
            {{error.status}}</span>
            <span class="ml-2">
              {{#and (gte error.status 100) (lt error.status 200)}}
                All Good
              {{/and}}
              {{#and (gte error.status 200) (lt error.status 300)}}
                Success
              {{/and}}
              {{#and (gte error.status 300) (lt error.status 400)}}
                Redirected
              {{/and}}
              {{#and (gte error.status 400) (lt error.status 500)}}
                Client Error
              {{/and}}
              {{#gte error.status 500}}
                Server Error
              {{/gte}}
            </span>
          </h1>
          <p class="text-xl mt-2">{{error.message}}</p>
          <div class="mt-8 text-slate-200">
            {{{error.stack}}}
          </div>
        {{/not}}
        {{log this}}
      </div>
    </div>
  {{/content}}
{{/extend}}
