{{#block "split-section"}}
  <!-- start split section -->
  <section class="relative w-full py-16 lg:py-36 bg-{{default bg "white"}}{{#neither (eq bg "white") (eq bg "black")}}-50{{/neither}}">
    <div class="flex flex-col lg:max-w-7xl m-auto">
      {{{embed "blocks/heading/section-heading" title=title}}}

      {{#isTruthy body}}
        <p class="mt-6 leading-relaxed">
          {{body}}
        </p>
      {{/isTruthy}}

      <div class="flex flex-col gap-24 px-5 lg:flex-row lg:gap-36 {{#or title description}}mt-8 lg:mt-20{{/or}}">
        <div class="w-full py-8 lg:w-1/2">
          {{{block "left"}}}
        </div>
        <div class="w-full lg:w-1/2">
          {{{block "right"}}}
        </div>
      </div>

      {{{block "after"}}}
    </div>
  </section>
  <!-- end about -->
{{/block}}