{{#block "text-image-row"}}
  <!-- start text-image-row -->
  <section hb-bg-zoom="true" class="relative flex flex-col md:flex-none bg-{{default bg "white"}}{{#neither (eq bg "white") (eq bg "black")}}-50{{/neither}} pb-16 lg:py-36">
    <div class="flex flex-col order-2 mt-10 md:flex-row md:max-w-7xl m-auto">
      <div class="w-full lg:w-1/2 flex flex-col px-5 {{#eq direction "left"}}lg:pl-32 lg:pr-8 md:order-2{{else}} lg:pl-8 lg:pr-32 md:order-1{{/eq}}">
        {{{embed "blocks/heading/section-heading" title=title align="left"}}}

        {{#isTruthy description}}
          <p class="mt-6 leading-relaxed">
            {{description}}
          </p>
        {{/isTruthy}}

        {{#block "body"}}

        {{/block}}
      </div>

      <div class="w-full lg:w-1/2 {{#eq direction "left"}}md:order-1{{else}}md:order-2{{/eq}}">
        &nbsp;
      </div>
    </div>

    <div class="overflow-hidden w-full h-64 order-1 md:w-1/2 md:h-auto md:absolute md:top-0 md:bottom-0 {{#eq direction "left"}} md:right-50% md:left-0{{else}} md:left-50% md:right-0{{/eq}}">
      <div hb-bg="true"
           class="bg-cover bg-center bg-stone-400 w-full h-full"
           style="background-image: url({{image}})">
      </div>
    </div>
  </section>
  <!-- end text-image-row -->
{{/block}}