{{#extend "site"
          bodyClass="antialiased text-slate-700 bg-white font-sans text-rose-700"
          googleFontsUrl="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          backToTopColor="stone-800"
}}
  {{#content "main"}}
    <!-- start header -->
    {{{embed "blocks/headers/header-01"
             title="LawPro"
             address="1985 Kerry Way, Whittier, CA, USA"
             phone="+1 562-789-1935"
             socialLinks=socialLinks
             menu=menu
             appointment=appointment
             bg="transparent"
             stickyBg="black"
             text="white"
             stickyText="white"
    }}}
    <!-- end header -->

    <main class="w-full">
      <!-- start hero -->
      {{#embed "blocks/hero/hero-01"
               bgImage="/public/templates/lawyers/images/hero-bg.jpg"
               title="We're a law firm built around your needs"
               description="Donec convallis sollicitudin facilisis integer nisl ligula accumsan."
               actionHref="#"
               actionLabel="Book Appointment"
               overlay="stone"
               buttonColor="amber"
               zoom=true
      }}
        {{#content "body"}}
          {{{embed "blocks/feature/feature-01" features=features}}}
        {{/content}}
      {{/embed}}
      <!-- end hero -->

      <!-- start services -->
      {{{embed "blocks/feature/feature-02"
               title="Our Services"
               description="Donec convallis sollicitudin facilisis integer nisl ligula accumsan."
               features=services
               color="stone"
               bg="white"
      }}}

      {{{embed "blocks/section/text-image-row-02"
               title="Our History"
               description="Aenean ut tellus tellus. Suspendisse potenti. Nullam tincidunt lacus tellus,
 sed aliquam est vehicula a. Pellentesque consectetur condimentum nulla, eleifend condimentum purus vehicula
 in. Donec convallis sollicitudin facilisis. Integer nisl ligula, accumsan non tincidunt ac, imperdiet in
 enim. Donec efficitur ullamcorper metus, eu venenatis nunc. Nam eget neque tempus, mollis sem a, faucibus
 mi."
               image="/public/templates/lawyers/images/law-01.jpg"
               bg="stone"
      }}}

      <!-- end services -->

      <!-- start team -->
      {{{embed "blocks/team/team-01"
               title="Our Team"
               description="Donec convallis sollicitudin facilisis integer nisl ligula accumsan."
               teamMembers=teamMembers
               actionColor="slate"
               color="stone"

      }}}
      <!-- end team -->

      <!-- start section -->
      {{#embed "blocks/section/text-image-row-02"
               title="Why choose LawPro?"
               image="/public/templates/lawyers/images/image-02.jpg"
               direction="left"
               bg="stone"
      }}
        {{#content "body"}}
          <p class="mt-6 leading-relaxed">Aenean ut tellus tellus. Suspendisse potenti. Nullam tincidunt lacus tellus,
            sed aliquam est vehicula a. Pellentesque consectetur condimentum nulla, eleifend condimentum purus vehicula
            in. Donec convallis sollicitudin facilisis. Integer nisl ligula, accumsan non tincidunt ac, imperdiet in
            enim. Donec efficitur ullamcorper metus, eu venenatis nunc. Nam eget neque tempus, mollis sem a, faucibus
            mi.</p>
        {{/content}}
      {{/embed}}
      <!-- end section -->

      {{{embed "blocks/testimonial/testimonial-01"
               title="What our clients say?"
               testimonials=testimonials
      }}}

      {{{embed "blocks/section/contact-us"
               id="contact-us"
               formId="contact-us-form"
               title="Contact Us"
               description="Aenean ut tellus tellus. Suspendisse potenti. Nullam tincidunt lacus tellus, sed aliquam est vehicula a. Pellentesque consectetur condimentum nulla, eleifend condimentum purus vehicula in."
               address="1985 Kerry Way, Whittier, CA, USA"
               workingHours="Mon - Fri: 9:00 - 19:00<br />Closed on Weekends"
               phoneNumber="+1 562-789-1935"
               email="lawpro@example.com"
               color="black"
               image="/public/templates/lawyers/images/map2.png"
      }}}

      {{#embed "blocks/cta/cta-01"
               title="Call 1-888-222-9999"
               description="We're here to help you through the hardest of times."
               image="/public/templates/lawyers/images/image-02.jpg"
               color="amber"
      }}
        {{#content "actions"}}
          <a href="#" class="px-10 py-6 bg-amber-600 hover:bg-amber-500 text-xl text-white rounded inline-block mt-8 font-semibold">
            Book an Appointment</a>
          <a href="#" class="ml-4 px-10 py-6 text-xl text-white hover:text-stone-800 rounded inline-block mt-8 font-semibold">
            Learn More
          </a>
        {{/content}}
      {{/embed}}
    </main>

    {{{embed "blocks/footer/footer-01"
             title="LawPro"
             description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
             address="1985 Kerry Way, Whittier, CA, USA"
             workingHours="Mon - Fri: 9:00 - 19:00<br />Closed on Weekends"
             phoneNumber="+1 562-789-1935"
             email="lawpro@example.com"
             menuTitle="Services"
             menu=true
             menuItems=footer.menu
             social=true
             socialLinks=footer.socialLinks
             contact=true
    }}}
  {{/content}}

  {{#content "scripts"}}
    {{{embed "tailwind-config"
             headingFontName="Ramabhadra"
             primaryColorName="stone"
             secondaryColorName="amber"
    }}}

    <script>
      const constrains = {
        name: {
          presence: {allowEmpty: false},
          type: "string"
        },
        email: {
          presence: {allowEmpty: false},
          type: "string",
          email: true
        },
        message: {
          presence: {allowEmpty: false},
          type: "string",
          length: {
            minimum: 20,
            maximum: 600
          }
        }
      };
      $("#contact-us-form").form(
        constrains,
        (formData) => {
          console.log("MORPHING", formData)

          return {
            to: formData.to,
            subject: "New contact message!",
            template: "contact",
            context: {
              name: formData.name,
              email: formData.email,
              message: formData.message,
            }
          }
        }
      )
    </script>
  {{/content}}
{{/extend}}
