{{var "realId" (default id (random 1 10000))}}
<div id="{{var "realId"}}" class="{{_alert level=level spacing=spacing}}" role="alert">
  <div class="grow">
    {{#if title}}<h3 class="{{_alertTitle}}">{{title}}</h3>{{/if}}
    <p class="{{_alertText}}">{{message}}</p>
  </div>
  {{#if closable}}
    {{{embed "_button"
        icon="close"
        style="link"
        size="iconSm"
        iconSize=6
        color=level
        attributes=(attr data-dismiss=(var "realId"))
    }}}
  {{/if}}
</div>