{{#block "_button"}}
  {{log this}}
  <button id="{{id}}" type="{{default type "button"}}" class="{{#clean}}
    text-sm font-medium

    {{#if (eq theme "default")}}
    bg-{{default color "blue"}}-700 hover:bg-{{default color "blue"}}-800
    text-white

    dark:bg-{{default color "blue"}}-600 dark:hover:bg-{{default color "blue"}}-700

    focus:ring-{{default color "blue"}}-300
    dark:focus:ring-{{default color "blue"}}-800

    focus:ring-4 focus:outline-none
    {{/if}}

    {{#if (eq theme "outline")}}
    text-{{default color "blue"}}-700 hover:text-{{default color "blue"}}-500

    dark:text-{{default color "blue"}}-500

    border border-{{default color "blue"}}-700 hover:border-{{default color "blue"}}-600
    dark:border-{{default color "blue"}}-500

    focus:ring-4 focus:outline-none focus:ring-{{default color "blue"}}-300
    dark:focus:ring-{{default color "blue"}}-800
    {{/if}}

    {{#if (eq theme "dark")}}
    bg-gray-800 hover:bg-{{default color "blue"}}-900
    text-white

    dark:bg-{{default color "blue"}}-800 dark:hover:bg-{{default color "blue"}}-700

    dark:border-{{default color "blue"}}-700

    focus:ring-4 focus:outline-none focus:ring-{{default color "blue"}}-300
    dark:focus:ring-{{default color "blue"}}-700

    focus:ring-4 focus:outline-none
    {{/if}}

    {{#if (eq theme "light")}}
    bg-white hover:bg-{{default color "blue"}}-100
    text-{{default color "blue"}}-900

    dark:bg-{{default color "blue"}}-800 dark:hover:bg-{{default color "blue"}}-700
    dark:text-white

    border border-{{default color "blue"}}-300
    dark:border-{{default color "blue"}}-600  dark:hover:border-{{default color "blue"}}-600

    focus:ring-4 focus:outline-none focus:ring-{{default color "blue"}}-200
    dark:focus:ring-{{default color "blue"}}-700
    {{/if}}

    {{#if (eq theme "icon")}}
    bg-white hover:bg-{{default color "blue"}}-100
    text-{{default color "blue"}}-900

    dark:bg-{{default color "blue"}}-800 dark:hover:bg-{{default color "blue"}}-700
    dark:text-white

    border border-{{default color "blue"}}-300
    dark:border-{{default color "blue"}}-600  dark:hover:border-{{default color "blue"}}-600

    focus:ring-4 focus:outline-none focus:ring-{{default color "blue"}}-200
    dark:focus:ring-{{default color "blue"}}-700
    {{/if}}

    {{#if (eq theme "icon-outline")}}
    bg-white hover:bg-{{default color "blue"}}-700
    text-{{default color "blue"}}-700 hover:text-white

    dark:bg-{{default color "blue"}}-800 dark:hover:bg-{{default color "blue"}}-700
    dark:text-{{default color "blue"}}-500 dark:hover:text-white

    border border-blue-700
    dark:border-{{default color "blue"}}-500  dark:hover:border-{{default color "blue"}}-600

    focus:ring-4 focus:outline-none focus:ring-{{default color "blue"}}-300
    dark:focus:ring-{{default color "blue"}}-800
    {{/if}}

    {{#if (isTruthy rounded)}}
      rounded-{{rounded}}
    {{/if}}

    {{#if (isTruthy icon)}}
      text-center

      p-2.5
    {{else}}
      px-5 py-2.5
    {{/if}}

    {{className}}
  {{/clean}}">
  {{#block "content"}}
    {{label}}
  {{/block}}
</button>
{{/block}}
