<button id="{{id}}" type="{{default type "button"}}"
        class="{{_button style=style color=color rounded="md" size=size width=width}}"
        {{#if disabled}}disabled{{/if}}
        {{{block "data"}}}>
  {{{block "icon"}}}
  {{text}}
</button>