<div id="{{id}}" class="{{_card size=size theme=theme bg=bg color=color shadow=shadow layout=layout padding=padding spacing=spacing}} {{class}} {{#not (eq overflow "hidden")}}overflow-hidden{{/not}}">
  {{#if title}}
    {{{embed "_heading" size=(default titleSize "h3") text=title }}}
  {{/if}}

  {{{block "content"}}}

  {{#if (content "body")}}
    <div class="{{_cardBody overflow=overflow height=height padding=0 spacing=0 layout=bodyLayout}} {{bodyClass}}">
      {{{block "body"}}}
    </div>
  {{/if}}
</div>
