<div id="{{id}}" class="{{_card size=size shadow=shadow layout=layout padding=padding spacing=spacing}} {{classNames}}">

  {{#if title}}
    {{{embed "_heading" size=(default size "h3") text=title }}}
  {{/if}}

  {{{block "content"}}}

  {{#if (content "body")}}
    <div class="{{_cardBody}} {{bodyClass}}">
      {{{block "body"}}}
    </div>
  {{/if}}
</div>