{{#block "_data_list_item"}}
  <a
    href="/_mail/{{item.id}}"
    data-collection="{{collection}}"
    data-id="{{item.id}}"
    class="block py-4 px-4 text-slate-600 dark:text-slate-100 bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 border-b border-gray-200 dark:border-gray-700"
  >
    <h4 class="font-medium">{{default
      item.id
      "(no id)"
    }}</h4>
    <!--
      <div class="flex text-gray-400 dark:text-slate-400">
        <small class="font-medium grow">to:
          {{get "to.text" this}}</small>
        <small class="font-medium">{{date}}</small>
      </div>

    <div class="flex text-gray-400 dark:text-slate-400">
      <small class="font-medium">{{dateString}}</small>
    </div> -->
  </a>
{{/block}}