{{#if (eq type "dropzone")}}
  <div class="flex justify-center items-center w-full {{className}}">
    <label for="dropzone-{{name}}"
           class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
      <div class="flex flex-col justify-center items-center pt-5 pb-6">
        <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
          <span class="font-semibold">Click to upload</span> or drag and drop
        </p>
        <p class="text-xs text-gray-500 dark:text-gray-400">{{hint}}</p>
      </div>
      <input id="dropzone-{{name}}" type="file" class="hidden" />
    </label>
  </div>
{{else if (eq type "dropzone")}}
  <div class="flex justify-center items-center w-full {{className}}">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
           for="file-{{name}}">
      {{label}}
    </label>
    <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
           aria-describedby="file_input_help"
           id="file-{{name}}"
           type="file">
    {{#if (isTruthy hint)}}<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">{{hint}}</p>{{/if}}
  </div>
{{else if (eq type "select")}}
  <div class="relative">
    <label for="{{default id name}}" class="{{_label spacing="bottomLeft" block=true}}">{{label}}</label>
    <select id="{{default id name}}" name="{{name}}" class="{{_input}}">
      {{#each items}}
      <option value="{{value}}" {{#eq value (d "value")}}selected{{/eq}}>{{label}}</option>
      {{/each}}
    </select>
    {{{embed "_input-hint" id=(append (default id name) "-invalid") invalid=true}}}
    {{{embed "_input-hint" id=(append (default id name) "-valid") invalid=false}}}
  </div>
{{else if (eq type "radio")}}
  <div class="flex items-start py-3 relative">
    <div class="flex items-center h-5">
      <input id="{{default id name}}" type="radio" name="{{name}}" value="{{value}}" class="{{_input style="radio"}}" {{#if required}}required{{/if}} {{#if checked}}checked{{/if}}/>
    </div>
    <label for="{{default id name}}" class="{{_label}}">
      {{label}}{{{block "label"}}}
    </label>
  </div>
{{else if (eq type "checkbox")}}
  <div class="flex items-start items-center py-3 relative">
    <div class="flex items-center h-5">
      <input id="{{default id name}}" type="checkbox" name='{{name}}' value="{{value}}" class="{{_input style="checkbox"}}" {{#if required}}required{{/if}} {{#if checked}}checked{{/if}}/>
    </div>
    <label for="{{default id name}}" class="{{_label spacing="left"}}">
      {{label}}{{{block "label"}}}
    </label>
  </div>
{{else if (eq type "radioGroup")}}
  <div class="mb-6 relative">
    {{#each items}}
      <div class="flex items-start py-4">
        <div class="flex items-center h-5">
          <input id="{{default id name}}" type="radio" name='{{name}}' value="{{value}}" class="{{_input style="radio"}}" {{#if required}}required{{/if}} {{#if checked}}checked{{/if}}/>
        </div>
        <label for="{{default id name}}" class="{{_label}}">{{{block "label"}}}</label>
      </div>
    {{/each}}
    {{{embed "_input-hint" id=(append (default id name) "-invalid") invalid=true}}}
    {{{embed "_input-hint" id=(append (default id name) "-valid") invalid=false}}}
  </div>
{{else if (eq type "checkboxGroup")}}
  <div class="mb-6 relative">
    {{#each items}}
      <div class="flex items-start py-4">
        <div class="flex items-center h-5">
          <input id="{{default id name}}" type="checkbox" name='{{name}}' value="{{value}}" class="{{_input style="checkbox"}}" {{#if required}}required{{/if}} {{#if checked}}checked{{/if}}/>
        </div>
        <label for="{{default id name}}" class="{{_label}}">{{{block "label"}}}</label>
      </div>
    {{/each}}
    {{{embed "_input-hint" id=(append (default id name) "-invalid") invalid=true}}}
    {{{embed "_input-hint" id=(append (default id name) "-valid") invalid=false}}}
  </div>
{{else if (eq type "textarea")}}
  <div class="relative">
    <label for="{{default id name}}" class="{{_label spacing="bottomLeft" block=true}}">{{label}}</label>
    <textarea id="{{default id name}}" name="{{name}}" cols="{{cols}}" rows="{{rows}}" class="{{_input invalid=invalid}}" placeholder="{{default placeholder ""}}" {{#if required}}required{{/if}} {{#if disabled}}disabled{{/if}}
    >{{value}}</textarea>
    {{{embed "_input-hint" id=(append (default id name) "-invalid") invalid=true}}}
    {{{embed "_input-hint" id=(append (default id name) "-valid") invalid=false}}}
  </div>
{{else}}
  <div class="relative">
    <label for="{{default id name}}" class="{{_label spacing="bottomLeft" block=true}}">{{label}}</label>
    <input id="{{default id name}}"
           type="{{default type "text"}}"
           name="{{name}}"
           value="{{value}}"
           {{{attr maxLength=maxLength
                   minLength=minLength
                   max=max
                   min=min
                   pattern=pattern
                   required=required
                   disabled=disabled}}}
           placeholder="{{placeholder}}"
           class="{{_input invalid=invalid}}">
    {{{embed "_input-hint" id=(append (default id name) "-invalid") invalid=true}}}
    {{{embed "_input-hint" id=(append (default id name) "-valid") invalid=false}}}
  </div>
{{/if}}
