{{#block "_input"}}
  {{#neither (eq type "dropzone") (eq type "upload")}}
    <div class="relative {{className}}">
      <input type="{{#if type}}{{type}}{{else}}text{{/if}}"
             id="{{name}}"
             value="{{value}}"
             class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" "/>
      <label for="{{name}}"
             class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
        {{label}}
      </label>
    </div>
  {{else}}
    {{#if (eq type "dropzone")}}
      <div class="flex justify-center items-center w-full {{className}}">
        <label for="dropzone-{{name}}"
               class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col justify-center items-center pt-5 pb-6">
            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">{{hint}}</p>
          </div>
          <input id="dropzone-{{name}}" type="file" class="hidden" />
        </label>
      </div>
    {{/if}}
    {{#if (eq type "dropzone")}}
      <div class="flex justify-center items-center w-full {{className}}">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
               for="file-{{name}}">
          {{label}}
        </label>
        <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
               aria-describedby="file_input_help"
               id="file-{{name}}"
               type="file">
        {{#if (isTruthy hint)}}<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">{{hint}}</p>{{/if}}
      </div>
    {{/if}}
  {{/neither}}
{{/block}}