<a
  href="{{this.url}}"
  class="inline-flex font-{{default this.weight "medium"}} text-{{default this.color "primary"}}-600 hover:underline dark:text-{{default this.color "primary"}}-500 {{this.class}}"
  title="{{this.title}}"
  target="{{this.target}}"
  {{{default attributes ""}}}
>
  {{this.prefix}}
  {{#if this.prefixIcon}}
    <span class="mr-2">
      {{{embed (prepend (append this.prefixIcon ".icon") "icons/")}}}
    </span>
  {{/if}}
  {{#block "text"}}
    {{this.text}}
  {{/block}}
  {{#if this.suffixIcon}}
    <span class="ml-2">
      {{{embed (prepend (append this.suffixIcon ".icon") "icons/")}}}
    </span>
  {{/if}}
  {{this.suffix}}
</a>