{{#block "_mail_list_item"}}
  <a
    href="/_mail/{{id}}"
    data-name="email"
    data-id="{{id}}"
    class="block py-4 px-4 border-b border-gray-200"
  >
    <h4 class="text-slate-600 font-medium">{{default
        subject
        "(no subject)"
      }}</h4>
    <div class="flex">
      <small class="font-medium text-slate-600 grow">to:
        {{get "to.text" this}}</small>
      <small class="font-medium">{{date}}</small>
    </div>
  </a>
{{/block}}