{{#block "_toast"}}
  {{var "realId" (append "toast-" (stringify (random 1000 50000)))}}
  <div
    id="{{var "realId"}}"
    class="relative overflow-hidden hb-toast flex items-center p-4 mb-4 w-full max-w-xs text-gray-500 bg-white rounded-lg shadow-lg dark:text-gray-400 dark:bg-gray-800 z-100
      {{#if position}}fixed{{/if}}
      {{~#eq position "top-right"}} top-20 right-20{{/eq~}}
      {{~#eq position "top-left"}} top-20 left-20{{/eq~}}
      {{~#eq position "bottom-right"}} bottom-20 right-20{{/eq~}}
      {{~#eq position "bottom-left"}} bottom-20 left-20{{/eq~}}"
    data-position="{{position}}"
    role="alert">
    <div class="hb-toast-backdrop z-0 transition-[width] absolute top-0 left-0 right-auto bottom-0 bg-gray-50 dark:bg-{{type}}-800 opacity-25"></div>
    <div class="inline-flex z-10 text-{{type}}-600 flex-shrink-0 justify-center items-center w-8 h-8">
      {{#if (eq type "success")}}
        {{{embed "icons/check.icon" size=6}}}
        <span class="sr-only">Check icon</span>
      {{/if}}
      {{#if (eq type "info")}}
        {{{embed "icons/info.icon" size=6}}}
        <span class="sr-only">Info icon</span>
      {{/if}}
      {{#if (eq type "warn")}}
        {{{embed "icons/warning.icon" size=6}}}
        <span class="sr-only">Warning icon</span>
      {{/if}}
      {{#if (eq type "error")}}
        {{{embed "icons/error.icon" size=6}}}
        <span class="sr-only">Error icon</span>
      {{/if}}
    </div>
    <div class="z-10 ml-2 font-normal grow">{{message}}</div>
    {{{embed "_button"
             icon="close.icon"
             iconSize=6
             style="link"
             size="icon"
             class="z-10"
             attributes=(attr data-dismiss=(var "realId"))
    }}}
  </div>
{{/block}}