<html lang="{{config.language.default}}" class="{{settings.theme}}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Hotbars: {{default title "User Api"}}</title>

    {{> hotbarsHead}}

    {{styles "https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css,
              https://fonts.googleapis.com/icon?family=Material+Icons"}}

    {{{block "styles"}}}
    <style>
      code[class*="language-"] .block, pre[class*="language-"] .block {
        display: inline-block;
      }
    </style>

    {{scripts "https://cdn.tailwindcss.com?plugins=forms"}}
    {{{embed "_tailwind-config"}}}
  </head>
  <body class="flex text-body-dark dark:text-body-light bg-base-light dark:bg-base-dark overflow-hidden h-full">
  {{{embed "_side-menu"}}}

  <div class="grow flex flex-col overflow-hidden">
    {{> "_header"}}

    <main class="h-auto grow px-{{default paddingX 8}} pb-{{default paddingY 8}} flex-auto flex flex-col {{#if scroll}}overflow-y-scroll{{else}}overflow-hidden{{/if}}">
      {{#block "pageHeader"}}
        {{{embed "_page-header" title=title description=description}}}
      {{/block}}
      {{{block "main"}}}
    </main>

    {{{block "footer"}}}
  </div>
    {{> hotbarsFooter}}

    {{scripts "https://cdn.jsdelivr.net/npm/flowbite@1.5.5/dist/flowbite[.turbo].js,
               https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js,
               https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js,
               /public/hotbars/common.js,
               /public/hotbars.js"}}

    {{{block "scripts"}}}
  </body>
</html>