{{#block "section.heading"}}
  {{#isTruthy title}}
    <h{{default size "2"}}
      class="leading-tight font-heading font-heading{{default size 2}} mb-{{default marginBottom 0}} mt-{{default marginTop 0}} {{class}}
        {{#eq (default size 2) 1}}
          text-4xl md:text-5xl xl:text-6xl
        {{/eq}}
        {{#eq (default size 2) 2}}
          text-2xl md:text-3xl xl:text-4xl
        {{/eq}}
        {{#eq (default size 2) 3}}
          text-xl md:text-2xl xl:text-3xl
        {{/eq}}
        {{#eq (default size 2) 4}}
          text-xl xl:text-3xl
        {{/eq}}
        {{#eq (default size 2) 5}}
          text-xl xl:text-3xl
        {{/eq}}
        {{#eq (default size 2) 6}}
          text-xl xl:text-3xl
        {{/eq}}
        text-{{default align "center"}}
    ">
      <span class="inline-block align-middle">{{{block "left"}}}
      </span>{{{ title }}}<span class="inline-block align-middle">{{{block "right"}}}</span>
    </h{{default size "2"}}>
  {{/isTruthy}}
{{/block}}