{{#block "footer-01"}}
  <!-- start footer -->
  <footer class="relative bg-{{default color "stone"}}-900 text-white py-12 lg:py-24">
    <div class="flex flex-col px-5 md:px-0 md:flex-row md:max-w-7xl m-auto">
      <div class="w-full lg:w-2/6 lg:mx-4 lg:pr-8">
        {{#isTruthy title}}
          <h3 class="font-bold text-2xl">
            {{title}}
          </h3>
        {{/isTruthy}}
        {{#isTruthy description}}
          <p class="text-stone-400">
            {{description}}
          </p>
        {{/isTruthy}}

        {{#if newsletter}}
          <form class="flex items-center mt-6">
            <div class="w-full">
              <label class="block uppercase tracking-wide text-stone-600 text-xs font-bold mb-2" for="grid-last-name">
                Subscribe for our Newsletter
              </label>
              <div class="relative">
                <input
                  class="appearance-none block w-full bg-stone-200 text-stone-700 border border-stone-200 rounded py-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-stone-500"
                  type="email" placeholder="Enter Your Email Address">

                <button type="submit"
                        class="bg-stone-500 hover:bg-stone-400 text-white px-4 py-2 text-sm font-bold rounded absolute top-0 right-0 my-2 mr-2">
                  Subscribe
                </button>
              </div>
            </div>
          </form>
        {{/if}}
      </div>

      {{#isTruthy menu}}
        <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
          {{#isTruthy menuTitle}}
            <h5 class="uppercase tracking-wider font-semibold text-{{default color "stone"}}-500">
              {{menuTitle}}
            </h5>
          {{/isTruthy}}

          {{#isTruthy menuItems}}
            <ul class="mt-4">
              {{#each menuItems}}
                <li class="mt-2">
                  <a href="{{default url href}}" title="" class="opacity-75 hover:opacity-100">
                    {{label}}
                  </a>
                </li>
              {{/each}}
            </ul>
          {{/isTruthy}}

          {{#block "menu"}}{{/block}}
        </div>
      {{/isTruthy}}

      {{#isTruthy contact}}
        <div class="w-full lg:w-2/6 mt-8 lg:mt-0 lg:mx-4 lg:pr-8">
          <h5 class="uppercase tracking-wider font-semibold text-{{default color "stone"}}-500">Contact Details</h5>

          {{#or (isTruthy address) (isTruthy workingHours) (isTruthy phoneNumber) (isTruthy email)}}
            <ul class="mt-4">
              {{#isTruthy address}}
                <li>
                  <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                       class="fill-current">
                    <path
                      d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z" />
                  </svg>
                </span>
                    <span class="ml-3">
                      {{address}}
                    </span>
                  </a>
                </li>
              {{/isTruthy}}
              {{#isTruthy workingHours}}
                <li class="mt-4">
                  <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     class="fill-current">
                  <path
                    d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" />
                  <path d="M13 7L11 7 11 13 17 13 17 11 13 11z" /></svg>
              </span>
                    <span class="ml-3">
                      {{workingHours}}
                    </span>
                  </a>
                </li>
              {{/isTruthy}}
              {{#isTruthy phoneNumber}}
                <li class="mt-4">
                  <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         class="fill-current">
                      <path
                        d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z" />
                    </svg>
                  </span>
                    <span class="ml-3">
                      {{phoneNumber}}
                    </span>
                  </a>
                </li>
              {{/isTruthy}}
              {{#isTruthy email}}
                <li class="mt-4">
                  <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                       class="fill-current">
                    <path
                      d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z" />
                  </svg>
                </span>
                    <span class="ml-3">
                      {{email}}
                    </span>
                  </a>
                </li>
              {{/isTruthy}}
            </ul>
          {{/or}}

          {{#block "contact-details"}}

          {{/block}}
        </div>
      {{/isTruthy}}

      <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
        {{#isTruthy social}}
          <div>
            <h5 class="uppercase tracking-wider font-semibold text-{{default color "stone"}}-500">
              We're Social
            </h5>
            <ul class="mt-4 flex">
              {{#each socialLinks}}
                <li>
                  <a href="{{default url href}}" target="_blank" title="{{label}}">
                    {{{embed (append (prepend name "icons/") ".icon")}}}
                  </a>
                </li>
              {{/each}}
            </ul>
            {{#block "social"}}

            {{/block}}
          </div>
        {{/isTruthy}}

        <p class="text-sm text-stone-400 mt-12">
          © 2018 {{site.title}}. <br class="hidden lg:block">All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
  <!-- end footer -->
{{/block}}